.btn-red{
	width: 1.65rem;
	line-height: 0.4rem;
	height: 0.40rem;
    font-size: 0.16rem;
    text-align: center;
	border-radius: 0.2rem;
	cursor: pointer;
	background-color:#e60012;
	color: white;
    margin: 0.1rem auto;
    display: inline-block;
}
.btn-white{
	display: inline-block;
    border: 1px solid #e60012;
    color: #e60012;
    padding: 3px 0;
    width: 165px;
    font-size: 16px;
    text-align: center;
	border-radius: 40px;
	cursor: pointer;
}
.btn-white.active{
	background-color: #e60012;
	color: white;
}
.about-haidilaoBrand-bg{
	display: inline-block;
	vertical-align: middle;
	width: 0.45rem;
	height: 0.57rem;
	background: url(../img/about/2019071514175513256.png) no-repeat 0 center;
	background-size: cover;
	margin-right: 0.85rem;
}
.about-haidilaoBrand-bg h3{
	display: inline-block;
	width: 1.60rem;
	line-height: 0.10rem;
	font-weight: bold;
	color: #666;
	margin-top: 0.2rem;
}