body{
    margin: 0;
    padding: 0;
    background: #34495e;
    font-family: sans-serif;
}
.register-box{
    padding: 10px 0;
    width: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.register-box h1{
    color: white;
    text-transform: uppercase;
    font-weight:500;
    margin-top: 0;
}
.register-box input[type="email"],
.register-box input[type="text"],
.register-box input[type="password"]{
    display: block;
    background: none;
    text-align: center;
    border:2px solid #3498db;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 16px;
    margin: 10px auto;
    padding: 5px;
    transition: 0.25s;
}
.register-box input[type="email"]:focus,
.register-box input[type="text"]:focus,
.register-box input[type="password"]:focus{
    border-color:#2ecc71;
    transition: 0.25s;
}
.register-box .register{
    display: inline-block;
    background: none;
    text-align: center;
    border: 2px solid #1abc9c;
    outline: none;
    color: white;
    border-radius: 16px;
    transition: 0.25s;
    cursor:pointer;
    padding: 5px;
    width: 120px;
}
.register-box .register:hover{
    background-color:#1abc9c;
}
.code-box{
    width: 250px;
    margin: 0 auto;
}
.code-box #getCode{
    cursor: pointer;
    text-decoration: none;
    transition: 0.25s;
}
.code-box #getCode:hover{
    color: #1abc9c;
}
.register-box .code-box input[type="text"]{
    width: 70%;
    display: inline-block;
    margin:0;
}
#email-error{
    position: absolute;
    right: -95px;
    top: 65px;
    color: #00cec9;
}
#password-error{
    position: absolute;
    right: -95px;
    top: 150px;
    color: #00cec9;
}
#repassword-error{
    position: absolute;
    right: -95px;
    top: 195px;
    color: #00cec9;
}
#code-error{
    position: absolute;
    right: -95px;
    top: 110px;
    color: #00cec9;
}
.getCode{
    pointer-events: none;
    cursor: default;
}
.goLogin {
    color: aquamarine;
    cursor: pointer;
}
